{% extends "network/index.html" %}
{% load static %}

{% block body2 %}
<div class="divs-2 ">
    <div>
        {% if profile.avatar %} 
            <div class="m-2 avatar2" style="background-image: url('{{ profile.avatar.url }}');"></div>
        {% else %}
            <div class="m-2 avatar2" style="background-image: url('{% static 'network/default-avatar.png' %}');"></div>
        {% endif %}
        <h2 class="m-1 ml-4"><strong>{{ profile.username }}</strong></h2>
        <div class="m-4 blockquote">
            <b>{{ profile.followed.count }}</b> Following <b class="ml-4">{{ profile.followers.count }}</b> Followers
            {% if user.is_authenticated and user != profile %}
                <form class="float-right" action="{% url 'follow' %}" method="post">
                    {% csrf_token %}
                    <input name="id" value="{{ profile.id }}" hidden>
                    {% if followed %}
                        <input class="btn btn-primary" type="submit" value="Unfollow">
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Follow">
                    {% endif %}
                </form>
            {% endif %}
    </div>
    </div>
</div>
<h3 class="p-3 hr">Posts</h3>
<div id="posts-container">
    {% for post in posts %}
        <div class="row p-2 pt-4 border-top border-bottom post-container">
            <div class="col-1">
                {% if post.author.avatar %} 
                    <div class="avatar" style="background-image: url('{{ post.author.avatar.url }}');"></div>
                {% else %}
                    <div class="avatar" style="background-image: url('{% static 'network/default-avatar.png' %}');"></div>
                {% endif %}
            </div>
            <div class="col-11">
                <div class="ml-4 post-content-container">
                    <strong>{{ post.author.username }}</strong>
                    <i class="timestamp">· {{ post.created_at }}</i>
                    {% if post.author == user %}
                        <i class="btn btn-light font-weight-normal float-right edit-post-button" data-post-id="{{ post.id }}">Edit</i>
                    {% endif %}
                    <br>
                    <textarea class="bg-transparent post-content" type="text" disabled>{{ post.content }}</textarea>
                    <div class="like-container">
                        {% if user in post.likes.all %}
                            <svg style="display: inline-block;" class="like" data-post="{{ post.id }}" data-like="true"><g color="#c20b0b"><path fill="currentcolor" d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>
                            <svg style="display: none;" class="like " data-post="{{ post.id }}" data-like="false"><g color="#c20b0b"><path fill="currentcolor" d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>
                        {% else %}
                            <svg style="display: none;" class="like" data-post="{{ post.id }}" data-like="true"><g color="#c20b0b"><path fill="currentcolor" d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>
                            <svg style="display: inline-block;" class="like " data-post="{{ post.id }}" data-like="false"><g color="#c20b0b"><path fill="currentcolor" d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path></g></svg>
                        {% endif %}
                        <p class="likes-count likes-count-{{ post.id }}">{{ post.likes.count }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            <span class="current">
                <li class="page-item"><a class="page-link disabled">Page {{ posts.number }}</a></li>
                
            </span>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}